{% extends "base.html" %} 
{% load static %}

{% block title %} 
German speaking practice: list of situations
{% endblock %} 

{% block description %} 
Online Deutsch lernen ✓ über 250 Lektionen ✓ PDF-Arbeitsblättern ✓ Alltagsdialogen &amp; Quiz-Aufgaben für A1, A2, B1.
{% endblock %} 

{% block css_files %}
<link rel="stylesheet" href={% static "css/style.css" %}/>
<link rel="stylesheet" href={% static "css/single_words.css" %}/>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
{% endblock %}

{% block js_files_head %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
{% endblock %}


{% block content %}
{% load static %}


<script>
    function changeImage(form) {
        // Get the image element by its ID
        const img = form.querySelector('#mic-image');
        
        // Change the image source
        img.src = "{% static 'images/singlewords/gerausche.png' %}"; // New image path
        
        
        form.querySelector('button').disabled = true;

        // After 2 seconds, change the image back to the original source
        setTimeout(function() {
            img.src = "{% static 'images/singlewords/loading-gif.gif' %}"; // New image path
        }, 2000);
    }
</script>


<div class="sw_container">
    <div class="sw_flashcard">
        <!-- Word and Image in the Flashcard -->
        <img src="{% static 'images/singlewords/' %}{{ image }}" alt="Flashcard Image"  width="100" height="100">
        <h2>{{ word }}</h2>

        <div class="sw_button_container">
            <form action="/single_words/word_pick" method="GET">
                <input type="hidden" name="sound_type" value="{{ sound_type }}" /> 
                <button type="submit" class="sw_btn_practice" style="width: 100%;">
                    <img src="{% static 'images/singlewords/' %}zuruck.png" style="height: 20px; margin: 0px;">
                </button>
            </form>
            <form action="/single_words/training_solution" method="GET" onsubmit="changeImage(this)">
                <input type="hidden" name="word_id" value="{{ word_id }}" /> 
                <button type="submit" class="sw_btn_practice" style="width: 100%;">
                    <img id="mic-image" src="{% static 'images/singlewords/' %}mikrofon-schwarze-form.png" style="height: 20px; margin: 0px;">
                </button>
            </form>
            <form action="/single_words/training" method="GET">
                <input type="hidden" name="word_id" value="random" /> 
                <input type="hidden" name="sound_type" value="{{ sound_type }}" /> 
                <button type="submit" class="sw_btn_practice" style="width: 100%;">
                    <img src="{% static 'images/singlewords/' %}zufallig.png" style="height: 20px; margin: 0px;">
                </button>
            </form>
        </div>
    </div>
</div>



</body>
</html>
{% endblock %}