{% extends "base.html" %} 
{% load static %}

{% block title %} 
German speaking practice: list of situations
{% endblock %} 

{% block description %} 
Online Deutsch lernen ✓ über 250 Lektionen ✓ PDF-Arbeitsblättern ✓ Alltagsdialogen &amp; Quiz-Aufgaben für A1, A2, B1.
{% endblock %} 

{% block css_files %}
<link rel="stylesheet" href={% static "css/style.css" %}/>
<link rel="stylesheet" href={% static "css/single_words.css" %}/>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
{% endblock %}

{% block js_files_head %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
{% endblock %}


{% block content %}
{% load static %}



<script>
    function changeImage(form) {
        // Get the image element by its ID
        const img = form.querySelector('#mic-image');
        
        // Change the image source
        img.src = "{% static 'images/singlewords/gerausche.png' %}"; // New image path
        
        // You can also disable the button or prevent multiple submissions if needed
        // form.querySelector('button').disabled = true;
    }
</script>

<style>
    .syllable-item {
        flex-basis: calc(100% / {{ n_syllables }}); /* Adjust based on how many items you want per row */
        width: calc(100% / {{ n_syllables }});
        margin: 10px 0; /* Add some vertical spacing */
        text-align: center; /* Center the text in each item */
    }    
</style>


<div class="sw_container">
    <div class="sw_flashcard">
        <!-- Word and Image in the Flashcard -->
        
        <img src="{% static 'images/singlewords/' %}{{ image }}" alt="Flashcard Image" width="100" height="100">
        <h2>{{ word }}</h2>        

        <hr>
        Total Accuracy
        <div class="progress-container-total">
            <!-- Dynamically set the width of the progress bar -->
            
            <div class="progress-bar-total
                        {% if accuracy_score >= 90 %}
                        good
                    {% elif accuracy_score >= 50 %}
                        ok
                    {% else %}
                        bad
                    {% endif %}"
                    style="width: {{ accuracy_score }}%;">
                {{ accuracy_score }}%
            </div>
        </div>


        <div class="syllable-accuracy">
            Syllable Accuracy
            <div class="syllable-list">
                {% for syllable, score in syllables_and_scores %}
                    <div class="syllable-item">
                        <div class="syllable-progress">
                            <div class="syllable-progress-bar
                                {% if score >= 70 %}
                                    good
                                {% elif score >= 30 %}
                                    ok
                                {% else %}
                                    bad
                                {% endif %}"
                                style="width: 100%;">
                                {{ syllable }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <hr>
        <div class="sw_button_container">
            <form action="/single_words/word_pick" method="GET">
                <input type="hidden" name="sound_type" value="{{ sound_type }}" /> 
                <button type="submit" class="sw_btn_practice" style="width: 100%;">
                    <img src="{% static 'images/singlewords/' %}zuruck.png" style="height: 20px; margin: 0px;">
                </button>
            </form>
            <form action="/single_words/training_solution" method="GET" onsubmit="changeImage(this)">
                <input type="hidden" name="word_id" value="{{ word_id }}" /> 
                <button type="submit" class="sw_btn_practice" style="width: 100%;">
                    <img id="mic-image" src="{% static 'images/singlewords/' %}wiederholen.png" style="height: 20px; margin: 0px;">
                </button>
            </form>
            <form action="/single_words/training" method="GET">
                <input type="hidden" name="word_id" value="random" /> 
                <input type="hidden" name="sound_type" value="{{ sound_type }}" /> 
                <button type="submit" class="sw_btn_practice" style="width: 100%;">
                    <img src="{% static 'images/singlewords/' %}zufallig.png" style="height: 20px; margin: 0px;">
                </button>
            </form>
        </div>
    </div>


</div>


</body>
</html>
{% endblock %}