{% extends "base.html" %} 
{% load static %}

{% block title %} 
German speaking practice: Single Word practice
{% endblock %} 



{% block css_files %}
<link rel="stylesheet" href={% static "css/style.css" %}/>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
{% endblock %}

{% block js_files_head %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
{% endblock %}

{% block content %}

<style>
  .iframe-container {
      display: flex;
      justify-content: center;
      width: 100%;
  }

  .iframe-container iframe {
      width: 420px; /* Set iframe width */
      height: 315px; /* Set iframe height */
  }
</style>



<div class="iframe-container">
  <iframe src="{{ info_video_url }}"></iframe>
</div>






  <section id="all-situations">
      <h2>Choose a word to practice</h2>

      <div class="sw_button_container" style="margin: 20px;">
        <div class="sw_button_container" style="margin: 20px; width: 50%;" >
          <form action="/single_words/overview" method="GET">
              <input type="hidden" name="sound_type" value="{{ sound_type }}" /> 
              <button type="submit" class="sw_btn_navigation">
                  <img src="{% static 'images/singlewords/' %}zuruck.png" style="height: 20px; margin: 0px;">
              </button>
          </form>
          <form action="/single_words/training" method="GET">
              <input type="hidden" name="word_id" value="random" /> 
              <input type="hidden" name="sound_type" value="{{ sound_type }}" /> 
              <button type="submit" class="sw_btn_navigation">
                  <img src="{% static 'images/singlewords/' %}zufallig.png" style="height: 20px; margin: 0px;">
              </button>
          </form>
        </div>
      </div>



      <table id="situations_list"></table>
  </section>

  <script>

    $(document).ready( function () {
      
      var situations = [
        {% for situation in situations %}
          [ '{{situation.id}}', '{{ situation.word }}'],
        {% endfor %}
      ]
      
      $('#situations_list').DataTable({
        "data": situations,
        "dom": '<"search"f><t><"bottom"rlp><"clear">',
        "columns": [
            {
              title: '',
              //width: '70px',
              render: function(data, type, row) {
                var item = '<a class="sutuation_link" href="/single_words/training?word_id=' + row[0] + '"> '
                    item += '<div class="situation">'
                    item +=   '<div class="situation_topic">' + row[1] + '</div>'
                    item += '</div></a>'
                return item
              }
            },
        ],
        "responsive": true
      });

    });

  </script>
{% endblock %}
