{% extends "base.html" %} 
{% load static %}

{% block title %} 
German speaking practice: list of situations
{% endblock %} 

{% block description %} 
Online Deutsch lernen ✓ über 250 Lektionen ✓ PDF-Arbeitsblättern ✓ Alltagsdialogen &amp; Quiz-Aufgaben für A1, A2, B1.
{% endblock %} 

{% block css_files %}
<link rel="stylesheet" href={% static "css/style.css" %}/>
<link rel="stylesheet" href={% static "css/single_words.css" %}/>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
{% endblock %}

{% block js_files_head %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
{% endblock %}

{% block content %}



  <section id="all-situations">
      <h2>Choose a sound category to practice</h2>
      <div class="situation-container">
        {% for situation in situations %}

        <div class="situation-item">
          <a class="situation_link" href="/single_words/word_pick?sound_type={{ situation.sound_type }}">
            <div class="situation">
              <div class="situation_topic">{{ situation.sound_type }}</div>
            </div>
          </a>
        </div>
        {% endfor %}

        <div class="situation-item">
          <a class="situation_link" >
            <div class="situation">
              <div class="situation_topic">Coming soon ...</div>
            </div>
          </a>
        </div>
      </div>
      
  </section>


{% endblock %}
{% comment %} </body>
</html> {% endcomment %}