{% extends "base.html" %}
{% load static %}

{% block title %}
Quick Practice - German Words
{% endblock %}

{% block description %}
Online Deutsch lernen ✓ über 250 Lektionen ✓ PDF-Arbeitsblättern ✓ Alltagsdialogen &amp; Quiz-Aufgaben für A1, A2, B1.
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css">
<link rel="stylesheet" href="{% static 'css/quickpractice.css' %}">
{% endblock %}

{% block js_files_head %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
{% endblock %}

{% block content %}
<div id="main-div">
    <h1>German Word Practice</h1>

    <div id="speaking_body">
        <!-- Modal Structure -->
        <div id="modal" class="modal" style="display: block;">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="/" class="exit-link"><i class="fa-solid fa-arrow-left"></i>Exit</a>
                </div>
                <div id="modal-body">
                    <div id="messages">
                        <div id="anchor"></div>
                    </div>
                    <!-- Pagination Controls -->
                    <div id="pagination">
                        <button id="prev-btn" class="pagination-btn" disabled><i class="fa-solid fa-arrow-left"></i></button>
                        <span id="page-info"></span>
                        <button id="next-btn" class="pagination-btn" disabled><i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="loader" style="display:none"></div>
</div>

<script src="https://kit.fontawesome.com/7eb5b27e3b.js" crossorigin="anonymous"></script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        let limit = Number("{{ limit }}");
        let offset = 0;
        let total = Number("{{ total }}");
        let loading = false;  // Flag to prevent multiple AJAX calls

        updatePaginationInfo();

        function fetchWords(limit, offset) {
            if (loading) return;

            loading = true;

            $.ajax({
                type: 'GET',
                url: '{% url "word_practice" %}',
                data: {
                    limit: limit,
                    offset: offset
                },
                headers: {'X-Requested-With': 'XMLHttpRequest'},
                success: function(response) {
                    console.log('response', response)
                    renderWords(response.data);
                    total = response.total;
                    updatePaginationInfo();
                },
                error: function(error) {
                    console.error('Error fetching words:', error);
                },
                complete: function() {
                    loading = false;
                }
            });
        }

        function renderWords(words) {
            console.log(words);
            const messagesDiv = document.getElementById('messages');
            messagesDiv.innerHTML = '';
            words.forEach((item) => {
                item.en_translation = item.en_translation.replace(/9999/g, "'")
                const wordDiv = document.createElement('div');
                wordDiv.className = 'word-container';
                wordDiv.id = `word-container-${item.id}`;

                const breakline = document.createElement('br');

                const wordTextDiv = document.createElement('div');
                wordTextDiv.className = 'word-text';

                const wordText = document.createElement('span');
                wordText.innerText = `${item.word.replace(/9999/g, "'")}`;

                const playButton = document.createElement('button');
                playButton.className = 'play-button';
                playButton.id = `play-button-${item.id}`;
                playButton.innerHTML = '<i class="fa-solid fa-play"></i>';
                playButton.addEventListener('click', () => togglePlayPause(item.word.replace(/9999/g, "'"), playButton));

                wordTextDiv.appendChild(playButton);
                wordTextDiv.appendChild(wordText);

                const micButton = document.createElement('button');
                micButton.className = 'mic-button';
                micButton.id = `mic-button-${item.id}`;
                micButton.innerHTML = '<i class="fa-solid fa-microphone"></i>';

                const stopButton = document.createElement('button');
                stopButton.className = 'stop-button';
                stopButton.id = `stop-button-${item.id}`;
                stopButton.innerHTML = '<i class="fa-solid fa-circle-stop"></i>';
                stopButton.style.display = 'none';

                const refreshButton = document.createElement('button');
                refreshButton.className = 'refresh-button';
                refreshButton.id = `refresh-button-${item.id}`;
                refreshButton.innerHTML = '<i class="fa-solid fa-repeat"></i>';

                const feedbackDiv = document.createElement('div');
                feedbackDiv.className = 'recognized-text';
                feedbackDiv.id = `recognized-text-${item.id}`;
                feedbackDiv.style.display = 'none';
                feedbackDiv.textContent = '';

                const resultDiv = document.createElement('div');
                resultDiv.className = 'result';
                resultDiv.id = `result-${item.id}`;
                resultDiv.style.display = 'none';

                micButton.addEventListener('click', () => startRecording(item.id, micButton, stopButton));
                stopButton.addEventListener('click', () => stopRecording(item.id, stopButton, micButton, resultDiv, item.word.split(' ')));
                refreshButton.addEventListener('click', () => resetRecording(item.id));

                wordDiv.appendChild(breakline);
                wordDiv.appendChild(wordTextDiv);
                wordDiv.appendChild(micButton);
                wordDiv.appendChild(stopButton);
                wordDiv.appendChild(refreshButton);
                wordDiv.appendChild(feedbackDiv);
                wordDiv.appendChild(resultDiv);

                messagesDiv.appendChild(wordDiv);
            });
        }

        function updatePaginationInfo() {
            const pageInfo = document.getElementById('page-info');
            const prevBtn = document.getElementById('prev-btn');
            const nextBtn = document.getElementById('next-btn');

            pageInfo.innerText = `${Math.min(offset + limit, total)} of ${total}`;

            prevBtn.disabled = offset === 0;
            nextBtn.disabled = offset + limit >= total;

            prevBtn.removeEventListener('click', handlePrevClick);
            prevBtn.addEventListener('click', handlePrevClick);

            nextBtn.removeEventListener('click', handleNextClick);
            nextBtn.addEventListener('click', handleNextClick);
        }

        function handlePrevClick() {
            if (offset > 0) {
                offset -= limit;
                fetchWords(limit, offset);
            }
        }

        function handleNextClick() {
            if (offset + limit < total) {
                offset += limit;
                fetchWords(limit, offset);
            }
        }

        // Initial fetch of words
        fetchWords(limit, offset);

        // Additional functionality like playSentence, togglePlayPause, startRecording, stopRecording, etc.

        let currentUtterance = null;

        function playWord(word, rate = 1) {
            if ('speechSynthesis' in window) {
                if (currentUtterance && speechSynthesis.speaking) {
                    speechSynthesis.cancel();
                }

                currentUtterance = new SpeechSynthesisUtterance(word);
                currentUtterance.lang = 'de-DE';
                currentUtterance.rate = rate;
                window.speechSynthesis.speak(currentUtterance);
            } else {
                console.error('Speech Synthesis API is not supported in this browser.');
            }
        }

        function togglePlayPause(word, playButton, rate = 0.5) {
            if ('speechSynthesis' in window) {
                if (speechSynthesis.paused) {
                    speechSynthesis.resume();
                    playButton.innerHTML = '<i class="fa-solid fa-pause"></i>';
                } else if (speechSynthesis.speaking) {
                    speechSynthesis.pause();
                    playButton.innerHTML = '<i class="fa-solid fa-play"></i>';
                } else {
                    playWord(word, rate);
                    playButton.innerHTML = '<i class="fa-solid fa-pause"></i>';
                }

                currentUtterance.onend = () => {
                    playButton.innerHTML = '<i class="fa-solid fa-play"></i>';
                };
            } else {
                console.error('Speech Synthesis API is not supported in this browser.');
            }
        }

        function startRecording(id, micButton, stopButton) {
            var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
            var recognition = new SpeechRecognition();
            recognition.continuous = true;
            recognition.lang = 'de-DE';
            recognition.interimResults = true;
            recognition.maxAlternatives = 1;

            recognition.onresult = function(event) {
                let transcript = '';
                for (var i = 0; i < event.results.length; i++) {
                    transcript += event.results[i][0].transcript;
                }
                var feedbackDiv = document.getElementById(`recognized-text-${id}`);
                feedbackDiv.textContent = transcript;
                feedbackDiv.style.display = 'block';
            };

            recognition.onerror = function(event) {
                console.error(event.error);
            };

            recognition.start();
            window.recognitionInstance = recognition;

            micButton.style.display = 'none';
            stopButton.style.display = 'inline-block';
        }

        function stopRecording(id, stopButton, micButton, resultDiv, originalWords) {
            if (window.recognitionInstance) {
                window.recognitionInstance.stop();

                stopButton.style.display = 'none';
                micButton.style.display = 'inline-block';

                sendTranscriptToBackend(id, resultDiv, originalWords);
            }
        }

        function resetRecording(id) {
            var feedbackDiv = document.getElementById(`recognized-text-${id}`);
            feedbackDiv.style.display = 'none';

            var resultDiv = document.getElementById(`result-${id}`);
            resultDiv.style.display = 'none';
        }

        function sendTranscriptToBackend(id, resultDiv, originalWords) {
            var recordedTranscript = document.getElementById(`recognized-text-${id}`).textContent;

            fetch('{% url "score" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({
                    transcript: recordedTranscript,
                    word_id: id,
                    type: "word",
                })
            })
            .then(response => response.json())
            .then(data => {
                resultDiv.style.display = 'block';
                if (data.correctness == 100) {
                    resultDiv.innerHTML = `<p class="correct-word">Perfect Word!</p>`;
                } else {
                    let formattedResponse = '';
                    let errorIndex = 0;
                    for (let i = 0; i < originalWords.length; i++) {
                        if (errorIndex < data.errors.length && originalWords[i].toLowerCase() === data.errors[errorIndex].original.toLowerCase()) {
                            formattedResponse += `<span class="incorrect-word">${data.errors[errorIndex].recorded}</span> `;
                            errorIndex++;
                        } else {
                            formattedResponse += `<span class="correct-word">${originalWords[i]}</span> `;
                        }
                    }
                    resultDiv.innerHTML = `Correctness: ${data.correctness}%<p class="incorrect-word">${formattedResponse}</p>`;
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });
</script>
{% endblock %}
