{% extends "base.html" %}
{% load static %}

{% block title %}
Quick Practice - German Words
{% endblock %}

{% block description %}
Online Deutsch lernen ✓ über 250 Lektionen ✓ PDF-Arbeitsblättern ✓ Alltagsdialogen &amp; Quiz-Aufgaben für A1, A2, B1.
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'css/quickpractice.css' %}">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css">
{% endblock %}

{% block js_files_head %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@azure/cognitiveservices-speech-sdk/distrib/browser/microsoft.cognitiveservices.speech.sdk.bundle-min.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
{% endblock %}

{% block content %}
<div id="main-div">
    <h1>German Word Practice</h1>

    <div id="speaking_body">
        <!-- Modal Structure -->
        <div id="modal" class="modal" style="display: block;">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="/" class="exit-link"><i class="fa-solid fa-arrow-left"></i>Exit</a>
                </div>
                <div id="modal-body" style="margin: auto;">
                    <div id="messages">
                        <div id="anchor"></div>
                    </div>
                    <!-- Pagination Controls -->
                    <div id="pagination">
                        <button id="prev-btn" class="pagination-btn" disabled><i class="fa-solid fa-arrow-left"></i></button>
                        <span id="page-info"></span>
                        <button id="next-btn" class="pagination-btn" disabled><i class="fa-solid fa-arrow-right"></i></button>
                    </div><br />
                </div>
            </div>
        </div>
    </div>

    <div class="loader" style="display:none"></div>
</div>

<script src="https://kit.fontawesome.com/7eb5b27e3b.js" crossorigin="anonymous"></script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const speechKey = "{{ speech_key }}";
        const speechRegion = "{{ speech_region }}";

        let limit = Number("{{ limit }}");
        let offset = 0;
        let total = Number("{{ total }}");
        let speechRecognizer = null;  // Speech recognizer initialized dynamically
        let isRecording = false;      // Flag to track if recording is active
        let loading = false;

        updatePaginationInfo();

        function fetchWords(limit, offset) {
            if (loading) return;

            loading = true;

            $.ajax({
                type: 'GET',
                url: '{% url "word_practice" %}',
                data: {
                    limit: limit,
                    offset: offset
                },
                headers: {'X-Requested-With': 'XMLHttpRequest'},
                success: function(response) {
                    renderWords(response.data);
                    total = response.total;
                    updatePaginationInfo();
                },
                error: function(error) {
                    console.error('Error fetching words:', error);
                },
                complete: function() {
                    loading = false;
                }
            });
        }

        function renderWords(words) {
            console.log(words)
            const messagesDiv = document.getElementById('messages');
            messagesDiv.innerHTML = '';
            words.forEach((item) => {
                item.en_translation = item.en_translation.replace(/9999/g, "'")
                const wordDiv = document.createElement('div');
                wordDiv.className = 'word-container';
                wordDiv.id = `word-container-${item.id}`;

                const breakline = document.createElement('br');

                const wordTextDiv = document.createElement('div');
                wordTextDiv.className = 'word-text';

                const wordText = document.createElement('span');
                wordText.innerText = item.word.replace(/9999/g, "'");

                const playButton = document.createElement('button');
                playButton.className = 'play-button';
                playButton.id = `play-button-${item.id}`;
                playButton.innerHTML = '<i class="fa-solid fa-play"></i>';
                playButton.addEventListener('click', () => togglePlayPause(item.word.replace(/9999/g, "'"), playButton));

                wordTextDiv.appendChild(playButton);
                wordTextDiv.appendChild(wordText);

                const micButton = document.createElement('button');
                micButton.className = 'mic-button';
                micButton.id = `mic-button-${item.id}`;
                micButton.innerHTML = '<i class="fa-solid fa-microphone"></i>';

                const stopButton = document.createElement('button');
                stopButton.className = 'stop-button';
                stopButton.id = `stop-button-${item.id}`;
                stopButton.innerHTML = '<i class="fa-solid fa-circle-stop"></i>';
                stopButton.style.display = 'none';

                const refreshButton = document.createElement('button');
                refreshButton.className = 'refresh-button';
                refreshButton.id = `refresh-button-${item.id}`;
                refreshButton.innerHTML = '<i class="fa-solid fa-repeat"></i>';

                const feedbackDiv = document.createElement('div');
                feedbackDiv.className = 'recognized-text';
                feedbackDiv.id = `recognized-text-${item.id}`;
                feedbackDiv.style.display = 'none';
                feedbackDiv.textContent = '';

                const confidenceDiv = document.createElement('div');
                confidenceDiv.className = 'confidence-score';
                confidenceDiv.id = `confidence-score-${item.id}`;
                confidenceDiv.style.display = 'none';
                confidenceDiv.textContent = '';

                micButton.addEventListener('click', () => startRecording(item.id, item.word, micButton, stopButton, feedbackDiv, confidenceDiv));
                stopButton.addEventListener('click', () => stopRecording(item.id, stopButton, micButton, feedbackDiv));
                refreshButton.addEventListener('click', () => resetRecording(item.id));

                wordDiv.appendChild(breakline);
                wordDiv.appendChild(wordTextDiv);
                wordDiv.appendChild(micButton);
                wordDiv.appendChild(stopButton);
                wordDiv.appendChild(refreshButton);
                wordDiv.appendChild(feedbackDiv);
                wordDiv.appendChild(confidenceDiv);

                messagesDiv.appendChild(wordDiv);
            });
        }

        function updatePaginationInfo() {
            const pageInfo = document.getElementById('page-info');
            const prevBtn = document.getElementById('prev-btn');
            const nextBtn = document.getElementById('next-btn');

            pageInfo.innerText = `${Math.min(offset + limit, total)} of ${total}`;

            prevBtn.disabled = offset === 0;
            nextBtn.disabled = offset + limit >= total;

            prevBtn.removeEventListener('click', handlePrevClick);
            prevBtn.addEventListener('click', handlePrevClick);

            nextBtn.removeEventListener('click', handleNextClick);
            nextBtn.addEventListener('click', handleNextClick);
        }

        function handlePrevClick() {
            if (offset > 0) {
                offset -= limit;
                fetchWords(limit, offset);
            }
        }

        function handleNextClick() {
            if (offset + limit < total) {
                offset += limit;
                fetchWords(limit, offset);
            }
        }

        // Initial fetch of words
        fetchWords(limit, offset);

        // Additional functionality like playSentence, togglePlayPause, startRecording, stopRecording, etc.

        let currentUtterance = null;

        function playSentence(word, rate = 1) {
            if ('speechSynthesis' in window) {
                if (currentUtterance && speechSynthesis.speaking) {
                    speechSynthesis.cancel();
                }

                currentUtterance = new SpeechSynthesisUtterance(word);
                currentUtterance.lang = 'de-DE';
                currentUtterance.rate = rate;
                window.speechSynthesis.speak(currentUtterance);
            } else {
                console.error('Speech Synthesis API is not supported in this browser.');
            }
        }

        function togglePlayPause(word, playButton, rate = 0.5) {
            if ('speechSynthesis' in window) {
                if (speechSynthesis.paused) {
                    speechSynthesis.resume();
                    playButton.innerHTML = '<i class="fa-solid fa-pause"></i>';
                } else if (speechSynthesis.speaking) {
                    speechSynthesis.pause();
                    playButton.innerHTML = '<i class="fa-solid fa-play"></i>';
                } else {
                    playSentence(word, rate);
                    playButton.innerHTML = '<i class="fa-solid fa-pause"></i>';
                }

                currentUtterance.onend = () => {
                    playButton.innerHTML = '<i class="fa-solid fa-play"></i>';
                };
            } else {
                console.error('Speech Synthesis API is not supported in this browser.');
            }
        }

        function startRecording(id, word, micButton, stopButton, feedbackDiv, confidenceDiv) {
            // Prevent multiple recordings at the same time
            if (isRecording) return;

            micButton.style.display = 'none';
            stopButton.style.display = 'inline-block';

            feedbackDiv.style.display = 'none';
            feedbackDiv.textContent = '';
            confidenceDiv.style.display = 'none';
            confidenceDiv.textContent = '';

            isRecording = true;

            // Initialize a new SpeechRecognizer
            const speechConfig = SpeechSDK.SpeechConfig.fromSubscription(speechKey, speechRegion);
            speechConfig.speechRecognitionLanguage = "de-DE";
            const audioConfig = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
            console.log('AudioCOnfig ', audioConfig)
            speechRecognizer = new SpeechSDK.SpeechRecognizer(speechConfig, audioConfig);

            let pronunciationConfig = new SpeechSDK.PronunciationAssessmentConfig(
                word, // Reference text
                SpeechSDK.PronunciationAssessmentGradingSystem.HundredMark,
                SpeechSDK.PronunciationAssessmentGranularity.Phoneme,
                false // Disable miscue
            );

            pronunciationConfig.applyTo(speechRecognizer);

            speechRecognizer.recognized = (s, e) => {
                console.log('s ', s);
                console.log('e ', e);
                if (e.result.reason === SpeechSDK.ResultReason.RecognizedSpeech) {
                    const recognizedText = e.result.text;
                    feedbackDiv.innerHTML = compareText(recognizedText, word);
                    feedbackDiv.style.display = 'block';

                    const pronunciationResult = SpeechSDK.PronunciationAssessmentResult.fromResult(e.result);
                    console.log('pronunciationResult ', pronunciationResult);
                    const score = pronunciationResult.pronunciationScore.toFixed(2);
                    confidenceDiv.textContent = `Confidence Score: ${score}`;
                    confidenceDiv.style.display = 'block';
                }
            };

            speechRecognizer.startContinuousRecognitionAsync();
        }

        function stopRecording(id, stopButton, micButton, feedbackDiv) {
            if (!isRecording || !speechRecognizer) return;

            if (speechRecognizer) {
                speechRecognizer.stopContinuousRecognitionAsync(() => {
                    isRecording = false;
                    stopButton.style.display = 'none';
                    micButton.style.display = 'inline-block';
                }, (err) => {
                    console.error('Error stopping recording:', err);
                });
            }
        }

        function resetRecording(id) {
            const feedbackDiv = document.getElementById(`recognized-text-${id}`);
            feedbackDiv.style.display = 'none';
            feedbackDiv.textContent = '';

            const confidenceDiv = document.getElementById(`confidence-score-${id}`);
            confidenceDiv.style.display = 'none';
            confidenceDiv.textContent = '';

            isRecording = false;

            // Reset recognizer if needed
            if (speechRecognizer) {
                speechRecognizer.stopContinuousRecognitionAsync(() => {
                    speechRecognizer.close();
                    speechRecognizer = null;  // Clear the reference
                });
            }
        }

        function compareText(recognizedText, referenceText) {
            const recognizedWords = recognizedText.split(' ');
            console.log('recognizedWords ',recognizedWords);
            const referenceWords = referenceText.split(' ');
            console.log('referenceWords ',referenceWords);

            return recognizedWords.map((word, index) => {
                const referenceWord = referenceWords[index] || '';
                console.log(word.replace(/[^a-zA-Z ]/g, "").toLowerCase());
                console.log(referenceWord.replace(/[^a-zA-Z ]/g, "").toLowerCase());
                const color = word.replace(/[^a-zA-Z ]/g, "").toLowerCase() === referenceWord.replace(/[^a-zA-Z ]/g, "").toLowerCase() ? 'green' : 'red';
                return `<span style="color: ${color};">${word}</span>`;
            }).join(' ');
        }
    });
</script>
{% endblock %}