{% extends "base.html" %}
{% load static %}

{% block title %}
Quick Practice - German Words
{% endblock %}

{% block description %}
Online Deutsch lernen ✓ über 250 Lektionen ✓ PDF-Arbeitsblättern ✓ Alltagsdialogen &amp; Quiz-Aufgaben für A1, A2, B1.
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css">
<link rel="stylesheet" href="{% static 'css/quickpractice.css' %}">
{% endblock %}

{% block js_files_head %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@azure/cognitiveservices-speech-sdk/distrib/browser/microsoft.cognitiveservices.speech.sdk.bundle-min.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
{% endblock %}

{% block content %}
<div id="main-div">
    <h1>German Word Practice</h1>

    <div id="speaking_body">
        <!-- Modal Structure -->
        <div id="modal" class="modal" style="display: block;">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="/" class="exit-link"><i class="fa-solid fa-arrow-left"></i>Exit</a>
                </div>
                <div id="modal-body">
                    <div id="messages">
                        <div id="anchor"></div>
                    </div>
                    <!-- Pagination Controls -->
                    <div id="pagination">
                        <button id="prev-btn" class="pagination-btn" disabled><i class="fa-solid fa-arrow-left"></i></button>
                        <span id="page-info"></span>
                        <button id="next-btn" class="pagination-btn" disabled><i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="loader" style="display:none"></div>
</div>

<script src="https://kit.fontawesome.com/7eb5b27e3b.js" crossorigin="anonymous"></script>

<script>
    document.addEventListener('DOMContentLoaded', () => {

        const speechKey = "{{ speech_key }}";
        const speechRegion = "{{ speech_region }}";

        const speechConfig = SpeechSDK.SpeechConfig.fromSubscription(speechKey, speechRegion);
        speechConfig.speechRecognitionLanguage = "de-DE";
        const audioConfig = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        const speechRecognizer = new SpeechSDK.SpeechRecognizer(speechConfig, audioConfig);

        const pronunciationConfig = new SpeechSDK.PronunciationAssessmentConfig(
            "", // Reference text, set later
            SpeechSDK.PronunciationAssessmentGradingSystem.HundredMark,
            SpeechSDK.PronunciationAssessmentGranularity.Phoneme,
            false // Disable miscue
        );

        pronunciationConfig.applyTo(speechRecognizer);

        let limit = Number("{{ limit }}");
        let offset = 0;
        let total = Number("{{ total }}");
        let loading = false;  // Flag to prevent multiple AJAX calls

        updatePaginationInfo();

        function fetchWords(limit, offset) {
            if (loading) return;

            loading = true;

            $.ajax({
                type: 'GET',
                url: '{% url "word_practice" %}',
                data: {
                    limit: limit,
                    offset: offset
                },
                headers: {'X-Requested-With': 'XMLHttpRequest'},
                success: function(response) {
                    renderWords(response.data);
                    total = response.total;
                    updatePaginationInfo();
                },
                error: function(error) {
                    console.error('Error fetching words:', error);
                },
                complete: function() {
                    loading = false;
                }
            });
        }

        function renderWords(words) {
            const messagesDiv = document.getElementById('messages');
            messagesDiv.innerHTML = '';
            words.forEach((item) => {
                item.en_translation = item.en_translation.replace(/9999/g, "'")
                const wordDiv = document.createElement('div');
                wordDiv.className = 'word-container';
                wordDiv.id = `word-container-${item.id}`;

                const breakline = document.createElement('br');

                const wordTextDiv = document.createElement('div');
                wordTextDiv.className = 'word-text';

                const wordText = document.createElement('span');
                wordText.innerText = item.word.replace(/9999/g, "'");

                const playButton = document.createElement('button');
                playButton.className = 'play-button';
                playButton.id = `play-button-${item.id}`;
                playButton.innerHTML = '<i class="fa-solid fa-play"></i>';
                playButton.addEventListener('click', () => togglePlayPause(item.word.replace(/9999/g, "'"), playButton));

                wordTextDiv.appendChild(playButton);
                wordTextDiv.appendChild(wordText);

                const micButton = document.createElement('button');
                micButton.className = 'mic-button';
                micButton.id = `mic-button-${item.id}`;
                micButton.innerHTML = '<i class="fa-solid fa-microphone"></i>';

                const stopButton = document.createElement('button');
                stopButton.className = 'stop-button';
                stopButton.id = `stop-button-${item.id}`;
                stopButton.innerHTML = '<i class="fa-solid fa-circle-stop"></i>';
                stopButton.style.display = 'none';

                const feedbackDiv = document.createElement('div');
                feedbackDiv.className = 'recognized-text';
                feedbackDiv.id = `recognized-text-${item.id}`;
                feedbackDiv.style.display = 'none';
                feedbackDiv.textContent = '';

                const resultDiv = document.createElement('div');
                resultDiv.className = 'result';
                resultDiv.id = `result-${item.id}`;
                resultDiv.style.display = 'none';

                micButton.addEventListener('click', () => startRecording(item.id, item.word, micButton, stopButton, resultDiv));
                stopButton.addEventListener('click', () => stopRecording(item.id, stopButton, micButton, resultDiv));

                wordDiv.appendChild(breakline);
                wordDiv.appendChild(wordTextDiv);
                wordDiv.appendChild(micButton);
                wordDiv.appendChild(stopButton);
                wordDiv.appendChild(feedbackDiv);
                wordDiv.appendChild(resultDiv);

                messagesDiv.appendChild(wordDiv);
            });
        }

        function updatePaginationInfo() {
            const pageInfo = document.getElementById('page-info');
            const prevBtn = document.getElementById('prev-btn');
            const nextBtn = document.getElementById('next-btn');

            pageInfo.innerText = `${Math.min(offset + limit, total)} of ${total}`;

            prevBtn.disabled = offset === 0;
            nextBtn.disabled = offset + limit >= total;

            prevBtn.removeEventListener('click', handlePrevClick);
            prevBtn.addEventListener('click', handlePrevClick);

            nextBtn.removeEventListener('click', handleNextClick);
            nextBtn.addEventListener('click', handleNextClick);
        }

        function handlePrevClick() {
            if (offset > 0) {
                offset -= limit;
                fetchWords(limit, offset);
            }
        }

        function handleNextClick() {
            if (offset + limit < total) {
                offset += limit;
                fetchWords(limit, offset);
            }
        }

        // Initial fetch of words
        fetchWords(limit, offset);

        let currentUtterance = null;

        function playWord(word, rate = 1) {
            if ('speechSynthesis' in window) {
                if (currentUtterance && speechSynthesis.speaking) {
                    speechSynthesis.cancel();
                }

                currentUtterance = new SpeechSynthesisUtterance(word);
                currentUtterance.lang = 'de-DE';
                currentUtterance.rate = rate;
                window.speechSynthesis.speak(currentUtterance);
            } else {
                console.error('Speech Synthesis API is not supported in this browser.');
            }
        }

        function togglePlayPause(word, playButton, rate = 1) {
            if ('speechSynthesis' in window) {
                if (speechSynthesis.paused) {
                    speechSynthesis.resume();
                    playButton.innerHTML = '<i class="fa-solid fa-pause"></i>';
                } else if (speechSynthesis.speaking) {
                    speechSynthesis.pause();
                    playButton.innerHTML = '<i class="fa-solid fa-play"></i>';
                } else {
                    playWord(word, rate);
                    playButton.innerHTML = '<i class="fa-solid fa-pause"></i>';
                }

                currentUtterance.onend = () => {
                    playButton.innerHTML = '<i class="fa-solid fa-play"></i>';
                };
            } else {
                console.error('Speech Synthesis API is not supported in this browser.');
            }
        }

        function startRecording(id, word, micButton, stopButton, resultDiv) {
            const recognizedTextDiv = document.getElementById(`recognized-text-${id}`);

            micButton.style.display = 'none';
            stopButton.style.display = 'inline-block';

            recognizedTextDiv.style.display = 'none';
            recognizedTextDiv.textContent = '';
            resultDiv.style.display = 'none';
            resultDiv.innerHTML = '';

            speechRecognizer.recognized = (s, e) => {
                if (e.result.reason === SpeechSDK.ResultReason.RecognizedSpeech) {
                    const recognizedText = e.result.text;
                    recognizedTextDiv.textContent = recognizedText;

                    pronunciationConfig.referenceText = word;
                    pronunciationConfig.applyTo(speechRecognizer);

                    const pronunciationAssessmentResult = SpeechSDK.PronunciationAssessmentResult.fromResult(e.result);
                    const score = pronunciationAssessmentResult.pronunciationScore;
                    resultDiv.style.display = 'block';
                    resultDiv.innerHTML = `Your score: <strong>${score.toFixed(2)}</strong>`;

                    // Highlighting recognized words based on correctness
                    const recognizedWords = recognizedText.split(" ");
                    const wordElements = word.split(" ").map(w => {
                        if (recognizedWords.includes(w)) {
                            return `<span class="correct">${w}</span>`;
                        } else {
                            return `<span class="incorrect">${w}</span>`;
                        }
                    }).join(" ");
                    recognizedTextDiv.innerHTML = wordElements;
                    recognizedTextDiv.style.display = 'block';
                } else {
                    recognizedTextDiv.textContent = 'Speech not recognized. Please try again.';
                    recognizedTextDiv.style.display = 'block';
                }
            };

            speechRecognizer.startContinuousRecognitionAsync();
        }

        function stopRecording(id, stopButton, micButton, resultDiv) {
            speechRecognizer.stopContinuousRecognitionAsync(() => {
                stopButton.style.display = 'none';
                micButton.style.display = 'inline-block';
            }, (err) => {
                console.error('Error stopping recording:', err);
            });
        }

    });
</script>

{% endblock %}