
<!-- footer.html -->

<div class="footer-wrapper">
   <div class="" style="margin-top:15px;padding-bottom:15px;background-color:#13151c">
      <div class="container">
         <div class="row">
            <div class="col-md-2-4">
               <div id="element-s7m3tA2t" class="editor" style="color:#fff;line-height:2.2;font-size:16px">
                  <div>
                     <p style="text-align: center;"><strong><span style="color: #5fb391;">PRESENT</span><br></strong><span style="color: #ffffff;"><a style="color: #ffffff;" href="https://deutsch1.net/%C3%BCber-mich/"><strong>About me</strong></a></span><br><span style="color: #ffffff;"><a style="color: #ffffff;" href="https://deutsch1.net/faq/"><strong>FAQ</strong></a></span><br><span style="color: #ffffff;"><a style="color: #ffffff;" href="https://member.deutsch1.net/s/onlinegerman/sign_in"><strong>Login</strong></a></span></p>
                  </div>
               </div>
            </div>
            <div class="col-md-2-4">
               <div id="element-BtAidDwb" class="editor" style="color:#fff;line-height:2.2;font-size:16px">
                  <div>
                     <p style="text-align: center;"><span style="color: #ffffff;"><a style="color: #ffffff;" href="https://deutsch1.net/kurs-a1/"><strong>A1 Course</strong></a></span><br><strong>A2 Course</strong><br><strong>B1 Course</strong><br><strong>PREMIUM</strong></p>
                  </div>
               </div>
            </div>
            <div class="col-md-2-4">
               <div id="element-q8Z3XvyQ" class="editor" style="color:#fff;line-height:2.2;font-size:16px">
                  <div>
                     <p style="text-align: center;"><strong>Future Courses</strong><br><strong>B2 Course</strong><br><strong>C1 Course</strong><br><strong>Crash Courses</strong></p>
                  </div>
               </div>
            </div>
            <div class="col-md-2-4">
               <div id="element-ajQrGDyP" class="editor" style="color:#fff;line-height:2.2;font-size:16px">
                  <div>
                     <p style="text-align: center;"><span style="color: #ffffff;"><a style="color: #ffffff;" href="https://www.tiktok.com/@deutsch_eins"><strong>TikTok</strong></a></span><br><span style="color: #ffffff;"><a style="color: #ffffff;" href="https://www.instagram.com/deutsch_eins/"><strong>Instagram</strong></a></span><br><span style="color: #ffffff;"><a style="color: #ffffff;" href="https://www.youtube.com/c/Deutsch1mitClara"><strong>YouTube</strong></a></span><br><span style="color: #ffffff;"><a style="color: #ffffff;" href="https://www.facebook.com/Deutsch111"><strong>Facebook</strong></a></span></p>
                  </div>
               </div>
            </div>
            <div class="col-md-2-4">
               <div id="element-Jbe28qwJ" class="editor" style="color:#fff;line-height:2.2;font-size:16px">
                  <div>
                     <p style="text-align: center;"><strong>info@deutsch1.net</strong><br></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
  
   <div class="" style="padding-top:35px;padding-bottom:35px;background-color:#13151c">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div id="element-usbk4WoC" class="editor" style="color:#fff;font-size:15px">
                  <div>
                     <p style="text-align: center;">© 2024 Deutsch1.net, All Right Reserved, Made by Clara with ❤️</p>
                     <p style="text-align: center;"><span style="color: #ffffff;"><a style="color: #ffffff;" href="https://deutsch1.net/impressum/"><span style="text-decoration: underline;">Impressum</span></a> - <a style="color: #ffffff;" href="https://deutsch1.net/datenschutz/"><span style="text-decoration: underline;">Datenschutzerklärung</span></a></span></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

</div>


 <!-- /footer.html -->